*{
    font-family: 'Ubuntu', sans-serif;
}
body{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
}

#nav{
    align-items:center;
    display:flex;
    
    background-color:greenyellow;
}

#nav a{
    text-decoration: none;
    color:black;
}

#nav a:hover{
    color:blue;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Banner.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 50px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color:brown;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rosybrown;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: purple;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: black;
}

.image {
    display:flex;
    justify-content: center;
    height:90%;
}
.hero-btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background-color: rgb(7, 3, 3);
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid rosybrown;
    background: rosybrown;
    transition: 1s;
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    display:flex;
    flex-direction:column;
    flex-basis: 31%;
    background: pink;
    border-radius: 10px;
    border-style:double;
    padding-top:2%;
    margin-top:2%;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    display:flex;
    justify-content:center;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}
.layer:hover{
    background: rgba(4,9,30,0.7);
}
.facilities{
    text-align: center;
    padding-top: 100px;
}
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(contact.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: firebrick;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(background.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.sub-header h1{
    margin-top: 100px;
}

.about{
    display:flex;
    justify-content:center;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about- col h1{
    padding-top: 0;
}
.contact us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}


















